#layers .lu-app .progress-bar[aria-valuenow="0"] {
    min-width: 30px;
    color: #777;
    background-color: transparent;
    background-image: none;
    box-shadow: none;
}

.pm-resource-usege {
    clear: both;
    width: 40% !important;
    margin-bottom: 2px !important;
}

#layers .lu-progress--s .lu-progress__bar {
    height: 10px;
}

#layers #resourcesContainer .lu-progress--h .lu-progress__label {
    flex-basis: 24%;
}